PORT=3000

CLIENT_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_NAME=fintrack
DB_USER=your_postgres_user
DB_PASSWORD=your_postgres_password
DATABASE_URL=your_production_postgresql_connection_string

JWT_SECRET=your_jwt_secret

ALPHA_VANTAGE_API_KEY=your_alpha_vantage_api_key